/* source url: https://j471n.in/blogs/countries-flags#germany */
.flag {
    position: relative;
    color: transparent;
    border-radius: 0.4em;
    border: 1px solid gray;
/*  padding: 0px 0.4em 0px 0.4em; */
    font-family: monospace;
    display:inline-block;
    font-size: 0.7em;
    top: -0.3em;
}
nobr.flag { font-size: 1.0em; color: gray; }
.IT {
    background: linear-gradient(
        to right,
        #009343 33%,
        #ffffff 33%,
        #ffffff 66%,
        #cf2734 0
    );
}
.DE {
    background: linear-gradient(
        #000000 33%,
        #de0000 33%,
        #de0000 67%, 
        #ffcf00 0
    );
}
.FR {
    background: linear-gradient(
        to right,
        #192f8e 33%,
        #ffffff 33%,
        #ffffff 67%,
        #e01414 0
    );
}
.ES {
    background: linear-gradient(
        #ad1519 25%,
        #fabd00 25%,
        #fabd00 75%, 
        #ad1519 0
    );
}
.EN  {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("en.svg");
    background-position: center;
}



