raisewapp() {
    local appn=$(wmctrl -l | sed -ne "s/.*$(hostname) \(.* - $1\)$/\\1/p")
    test -n "$appn" && wmctrl -R $appn
}
m() { bash tools/md2html.sh ${@:-$(st -m *.md)}; }
c() {
    test -n "${1:-}" || set -- $(st -m *.md)
    test -n "${1:-}" || set index.html
    for i in "$@"; do
        i=${i/.md/.html}
        i=${i/README/index}
        test -r "$i" || i="html/$i"
        test "$i" == "html/" && i="index.html"
        printf "\n> browse file: $i\n"
        bash -c "nohup chromium-browser ${i:-index.html} >/dev/null 2>&1" &
        for i in $(seq 1 5); do sleep 0.1; raisewapp Chromium; done
    done
    echo
}
gptchat() {
    QT_QPA_PLATFORM="xcb" XDG_SESSION_TYPE="xcb" xxdiff . ~/b/${PWD##*/} ;
    bash ~/gpt4all/bin/chat.sh 2>&1 | grep -q . &
}
ge() { gedit "$@" & }
hr() {
  {
    hres index.html;
    for i in html/*.html; do hres $i; done;
  } 2>&1 | grep -ve "Updated .* index";
}
