m() { bash tools/md2html.sh "$@"; }
c() { 
    for i in "$@"; do
        i=${i/.md/.html}
        i=${i/README/index}
        test -r "$i" || i="html/$i"
        bash -c "chromium-browser $i >/dev/null" &
    done
    echo
}
